{% extends "base.html" %}
{% load static %}
{% block nav_home %} active {% endblock nav_home %}
{% block content %}


{% for cat in object_list.items %}
<h1>{{object_list|get_value:cat.name}}</h1>
{% endfor %}
<div class="row">
    {% for object in object_list %}
        <div class="col-md-3 text-center">
            <div class="card" style="width: 18rem; margin-top:10px">
              <div class="card-body">
              {% comment %}
                <h5 class="card-title">{{object['name']}}</h5>
                <p class="card-text">{{object['price']}}</p>
                <a href="{% url 'Product_order_create' %}" class="btn btn-primary">Tilaa nyt</a>-->
              {% endcomment %}
              </div>
            </div>
        </div>
    {% endfor %}
</div>
<br>
<br>
<br>
<br>
{% endblock %}