{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container">
    <div class="col-12">
        <h3>Tilauksen lisätiedot</h3>
        <table class="table">
        <tr><td>Tuote</td><td>{{ object.product.name }}</td></tr>
        <tr><td>Määrä</td><td>{{ object.count }}</td></tr>
        <tr><td>Summa</td><td>{{ object.cost }}/-</td></tr>
        <tr><td>Tuotteen kuvaus</td><td>{{ object.product.description }}</td></tr>
        <tr><td>Hinta</td><td>{{ object.product.price }}/-</td></tr>
        <tr><td>Osoite</td><td>{{ object.address }}</td></tr>
        <tr><td>Kaupunki</td><td>{{ object.city }}</td></tr>
        <tr><td>Toimitetaan</td><td>
            {% if not object.delivered %}
            <p class="warning">Kaupungissa '{{object.city.name}}' ruoat toimitetaan {{object.city.delivery_date}}</p>
            {% endif %}
        </td></tr>
        <tr><td>Toimitettu</td><td>
            {% if object.delivered %}
                <p class="text-success">Toimitettu</p>
            {% else %}
                <p class="text-warning">Odottaa</p>
            {% endif %}
        </td></tr>
        <tr><td>Toimitettu henkilölle</td><td>{{ object.name }}</td></tr>
        <tr><td>Toimitettu osoitteeseen</td><td>{{ object.address }}</td></tr>
        </table>
        {% if not object.delivered %}
            <div class="col-12 text-right">
                <a class="btn btn-primary text-right" href="{% url 'Product_order_list' %}">Tilauslista</a>
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}