{% extends "base.html" %}
{% load static %}
{% block nav_order %} active {% endblock nav_order %}
{% block content %}
<div class="container">
    <p><a class="btn btn-default" href="{% url 'Product_order_list' %}">Tilaukset</a></p>
    <table class="table">
    <tr>
        <td>#</td>
        <td>{{object.product_1}} KPL</td>
        <td>{{object.product_2}} KPL</td>
        <td>{{object.product_3}} määrä</td>
        <td>Summa</td>
        <td>Tilattu</td>
        <td>Nimi</td>
        <td>Osoite</td>
        <td>Postinumero</td>
        <td>Kaupunki</td>
        <td>Status</td>
        <td>Toimitusaika</td>
        <td>Lisätiedot</td>
        <td>Maksutapa</td>
    </tr>
    {% for object in object_list %}
    <tr>
        <td>{{forloop.counter}}</td>
        <td>{{ object.count_1 }}</td>
        <td>{{ object.count_2 }}</td>
        <td>{{ object.count_3 }}</td>
        <td>{{ object.cost }}/-</td>
        <td>{{ object.created }}</td>
        <td>{{ object.name }}</td>
        <td>{{ object.address }}</td>
        <td>{{ object.postcode }}</td>
        <td>{{ object.city }}</td>
        <td>
            {% if object.delivered %}
                <p class="text-success">Toimitettu</p>
            {% else %}
                <p class="text-danger">Toimitetaan</p>
            {% endif %}
        </td>
        <td>{{ object.delivered_on | default:"Pian"}}</td>
        <td>{{ object.information }}</td>
        <td>{{ object.PaymentMethod }}</td>
    </tr>
    {% endfor %}
</div>
{% endblock %}