{% extends "base.html" %}
{% load static %}
{% block nav_home %} active {% endblock nav_home %}
{% block content %}



<div class="row">
    {% for object in object_list %}
        <div class="col-md-3 text-center">
            <div class="card" style="width: 18rem; margin-top:10px">
              <div class="card-body">
                <h5 class="card-title">{{object.name | truncatewords:5}}</h5>
                <p class="card-text">{{object.description | truncatwords:10}}</p>
                <p class="card-text">{{object.price}}</p>
                <a href="{% url 'Product_order_create' object.slug %}" class="btn btn-primary">Tilaa nyt</a>
              </div>
            </div>
        </div>
    {% endfor %}
</div>
<br>
<br>
<br>
<br>
{% endblock %}