{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
              <ul class="list-group list-group-flush">
                <li class="list-group-item"><b>Tuote : {{object.name}}</b></li>
                <li class="list-group-item"><b>Hinta : {{object.price}}€</li>
                  <li class="list-group-item"><a href="{% url 'Product_order_create' object.slug %}" class="btn btn-primary">Osta nyt/a></li>
              </ul>
            </div>
        </div>
    </div>
</div>


{% endblock %}