{% extends "base.html" %}
{% load static %}
{% block nav_home %} active {% endblock nav_home %}
{% block content %}



<div class="row">
    <div class="col-12 text-center">
        <h2>Kiitos, kun käytit palveluitamme</h2>
        <h4>Tilauksesi toimitetaan sinulle mahdollisimman pian tai luvattuna aikana.</h4>
    </div>
     <div class="col-12 text-center">
        <a href="/" class="btn btn-lg btn-primary">Tilaa lisää</a>
    </div>
</div>











<br>
<br>
<br>
<br>
{% endblock %}