{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<h2>{{url}}</h2>
<style>
    .center {text-align: center;align-self: center;}
</style>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
{% if ShowCities == True %}
<script type="text/javascript">
    function showDiv(select){
    {% for PaymentMethod in PaymentMethod %}
       if(select.value=="{{PaymentMethod.id}}"){
            {% for payment in PaymentMethod %}
            document.getElementById('{{payment}}_div').style.display="none";
            {% endfor %}
            document.getElementById('{{PaymentMethod}}_div').style.display = "block";
       }
    {% endfor %}
    } 
    function cityt(select){
        {% for city in City %}
        if (select.value=="{{city.id}}"){
            {% for city in City %}
            document.getElementById("{{city.short}}").style.display = "none";
            {% endfor %}
            document.getElementById('{{city.short}}').style.display = "block";
        }
        {% endfor %}
    }
</script>
{% endif %}

<div class="container">
    <div class="row">
        <div class="col-12">

            <h2 class="center">Tilauslomake - Mountainland kotiinkuljetuspalvelu</h2>
            <form method="post">
            {% csrf_token %}
            <!-- MÄÄRÄ -->
            <label for="id_count_1" class="control-label requiredField">Määrä<span class="asteriskField">*</span></label>
            <input type="number" name="count_1" value="0" class="form-control numberinput" onchange="calculateStuff();" min="0" max="1000" required id="id_count_1" pattern="\d*">
            <p> Hinta </p>
            <!-- TILAAJAN NIMI -->
            <label for="id_name" class="control-label requiredField">Tilaajan nimi<span class="asteriskField">*</span></label> 
            <input type="text" name="name" maxlength="255" class="form-control textinput textInput" required id="id_name">
            <!-- PUHELINNUMERO -->
            <label for="id_contact" class="control-label requiredField">Puhelinnumero<span class="asteriskField">*</span></label>
            <input type="text" name="contact" maxlength="10" class="form-control textinput textInput" required id="id_contact">
            
            <!-- OSOITE -->
            <label for="id_address" class="control-label requiredField">Osoite<span class="asteriskField">*</span></label>
            <input name="address" class="form-control textarea" required id="id_address"></input>
            
            <!-- POSTINUMERO -->
            <label for="id_postcode" class="control-label requiredField">Postinumero<span class="asteriskField">*</span></label>
            <input type="number" name="postcode" value="00500" class="form-control numberinput"  minlength="5"maxlenght="5" required id="id_postcode" pattern="\d*">
                        
            <!-- KAUPUNKI -->
            <label for="id_city" class="control-label requiredField">Kaupunki<span class="asteriskField">*</span></label>
            <select name="city" id="id_city" class="form-control dropdown" onchange="cityt(this)">
                <option value="" selected disabled hidden>Valitse kaupunki</option>
                {% for city in City %}
                <option value="{{city.id}}">{{city.name}}</option>
                {% endfor %}
            </select>
            <!-- MAKSUTAPA -->
            <label for="id_PaymentMethod" class="control-label requiredField">Maksutapa<span class="asteriskField">*</span></label>
            <select name="PaymentMethod" id="id_PaymentMethod" class="form-control dropdown" onchange="showDiv(this)">
                <option value="" selected disabled hidden>Valitse</option>
                {% for PaymentMethod in PaymentMethod %}
                <option value="{{PaymentMethod.id}}">{{PaymentMethod}}</option>
                {% endfor %}
            </select>

            <label for="id_information" class="control-label">Lisätiedot</label>
            <input name="information" id="id_information" class="form-control" id="id_information">
            <br>
            
            <button type="submit" class="btn btn-primary  btn-lg btn-block">Tilaa</button>
            </form>
            <!-- MAKSUTAVAT -->
            {% for PaymentMethod in PaymentMethod %}
            <div id="{{PaymentMethod}}_div" class="w3-panel w3-yellow" style="display:none;">{{PaymentMethod.info}}</div>
            {% endfor %}

            <!-- KAUPUNGIT -->
            {% for city in City %}
            <div id="{{city.short}}" class="w3-panel w3-blue" style="display:none;">Kaupungissa '{{city.name}}' ruoat toimitetaan {{city.delivery_date}}</div>
            {% endfor %}
            <p>Summa: </p>
            <p id="sum"></p>
        </div>
    </div>
</div>
<script type="text/javascript">    
    function calculateStuff(){
    document.getElementById("sum").innerHTML = ((document.getElementById("id_count_1").value * {{ product_1.price }}) + (document.getElementById("id_count_2").value * {{ product_2.price }}) + (document.getElementById("id_count_3").value * {{ product_3.price }}));
}
document.getElementById("sum").innerHTML = ((document.getElementById("id_count_1").value * {{ product_1.price }}) + (document.getElementById("id_count_2").value * {{ product_2.price }}) + (document.getElementById("id_count_3").value * {{ product_3.price }}));
</script>
{% endblock %}
